<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>app-name</param-name>
        <param-value>TotalBuy購物網</param-value>
    </context-param>
    <context-param>
        <param-name>charset</param-name>
        <param-value>big5</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>uuu.totalbuy.web.LoginCountListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HelloServletTW</servlet-name>
        <servlet-class>uuu.totalbuy.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>歡迎</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServletTW</servlet-name>
        <url-pattern>/zh-tw/hello.asp</url-pattern>
        <url-pattern>/zh-tw/hello.php</url-pattern>
        <url-pattern>/zh-tw/hello.view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloServletUS</servlet-name>
        <servlet-class>uuu.totalbuy.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>Welcome</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServletUS</servlet-name>
        <url-pattern>/en-us/hello.asp</url-pattern>
        <url-pattern>/en-us/hello.php</url-pattern>
        <url-pattern>/en-us/hello.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <init-param>
        <param-name>charset</param-name>
        <param-value>big5</param-value>
    </init-param>
</web-app>
